modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "libGL", "libxcrypt", "pkg-config", "qhull", "tcl", "tk", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35057
externalPort = 5173

[[ports]]
localPort = 35371
externalPort = 3002

[[ports]]
localPort = 37965
externalPort = 4200

[[ports]]
localPort = 39049
externalPort = 3000

[[ports]]
localPort = 41075
externalPort = 3001

[[ports]]
localPort = 44303
externalPort = 3003

[[ports]]
localPort = 44953
externalPort = 5000
